<div class="img-container">
  <h1>Manuscript Stemma Visualizer</h1>
</div>

<body>
  <div class="created-by">
    <a href="https://github.com/cliff42">
      <img src="https://avatars.githubusercontent.com/u/45251852?v=4">
    </a>
    <div class="contact-info">
      <h5>Chris Cliff</h5>
      <a class="email" href="mailto:manuscriptapp@gmail.com" style="font-size: 16px; color: inherit;">
        <span class="material-icons"> email </span> manuscriptapp@gmail.com
      </a>
    </div>
  </div>
  <div class="info-div">
    <h3>About the Manuscript Stemma Visualizer</h3>
    <p>This website is designed to provide a visual tool to explore manuscript stemma, mainly focused on delivering a geographic representation,
      allowing for a clear depiction of the spread of manuscripts throughout the middle ages and any historical trends that may be visible from it.
      With the interactive map and graph tools, you can click on each individual manuscript to obtain more information about it, including when it was created and by whom (if available),
      alongside any sources from which the data was gathered.
    </p>
    <p>I created this website as a passion project in an effort to combine two of my main interests: technology and history.
      I hope anyone who comes along to this app enjoys it and leaves with a better understanding of the spread of manuscripts in the middle ages, or at least, a fresh perspective on it.
      Thank you for taking the time to visit my website. Feel free to contact me if you have any questions or suggestions.
    </p>
  </div>
</body>
