<div class="container">
  <div class="grid-item">
    <!-- <ul *ngFor="let manuscript of manuscripts">
      <li (click)="onSelect()">{{manuscript.name}}</li>
    </ul> -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" multiTemplateDataRows>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Manuscript Autographs</th>
        <td mat-cell *matCellDef="let manuscript">{{manuscript.name}}</td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let manuscript" [attr.colspan]="1">
          <div class="manuscript-detail"
               [@detailExpand]="manuscript == expandedManuscript ? 'expanded' : 'collapsed'">
            <!-- <div class="example-manuscript-diagram">
              <div class="example-manuscript-name"> {{manuscript.name}} </div>
            </div> -->
            <div class="manuscript-description">
              Author:
              {{manuscript.author}}
              <br>
              {{manuscript.earlyDate}} - {{manuscript.lateDate}}
              <div class="manuscript-sources">Sources: {{manuscript.sources}}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          *matRowDef="let manuscript; columns: displayedColumns;"
          class="manuscript-row"
          [class.expanded-row]="expandedManuscript === manuscript"
          (click)="onTableSelect(manuscript); expandedManuscript = expandedManuscript === manuscript ? null : manuscript">
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
   </div>

   <div class="grid-item" id="map">
     <google-map
      #gmapElement
      height="400px"
      width="600px"
      [zoom]="zoom"
      [center]="center"
      [options]="options">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        [icon]="marker.icon"
        (mapClick)="onNodeSelect(marker)">
      </map-marker>
      <map-polyline
        *ngFor="let polyline of polylines"
        [path]="polyline.path"
        [options]="polyline.options">
      </map-polyline>
    </google-map>
   </div>

   <div>
     <h3>Information:</h3>
     <div class="info grid-item">
      <p><b>Title:</b> {{ manuscript_name }}</p>
      <p><b>Author:</b> {{ manuscript_author }}</p>
      <p><b>Date:</b> {{ manuscript_date }}</p>
      <p><b>Info:</b><br>{{ manuscript_info }}</p>
     </div>
   </div>

   <div>
     <h3>Stemma Diagram:</h3>
     <div class="grid-item">
      <ngx-graph
        *ngIf="showGraph"
        class="chart-container"
        [draggingEnabled]="graphDragging"
        [panningEnabled]="graphPanning"
        [enableZoom]="graphZoom"
        [view]="[700, 400]"
        [showMiniMap]="false"
        [links]="graphLinks"
        [nodes]="graphNodes"
        [curve]="curve"
        [center$]="center$"
        [zoomToFit$]="zoomToFit$"
        [update$]="update$">
        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g class="node" (click)="onSelectStemmaNode(node)">
            <svg:rect [attr.width]="150" [attr.height]="50" [attr.fill]="node.color" />
            <svg:text alignment-baseline="central" [attr.x]="15" [attr.y]="25">{{node.label}}</svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path
              class="line"
              stroke-width="2"
              marker-end="url(#arrow)" >
            </svg:path>
            <svg:text
              class="edge-label"
              text-anchor="middle">
            <textPath
                      style="fill: #666;"
                      [attr.href]="'#' + link.id"
                      startOffset="60%">
              {{link.label}}
            </textPath>
          </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
     </div>
   </div>
</div>
