<div class="header">
  <h1>Manuscript Stemma Visualizer</h1>
</div>

<div class="container">
  <div class="navigationPanel">
    <!-- <ul *ngFor="let manuscript of manuscripts">
      <li (click)="onSelect()">{{manuscript.name}}</li>
    </ul> -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Manuscripts</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          (click)="onSelect(row)"
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
   </div>

   <div class="map">
     <google-map
      [zoom]="zoom"
      [center]="center"
      [options]="options">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        [icon]="marker.icon">
      </map-marker>
    </google-map>
   </div>
</div>

<div class="support-button">
  <a href="https://www.buymeacoffee.com/cliff42" target="_blank">
    <img
    src="https://cdn.buymeacoffee.com/buttons/v2/default-green.png"
    alt="Buy Me A Coffee"
    style="height: 60px !important;width: 217px !important;" >
  </a>
</div>
