<div class="header">
  <h1>Manuscript Stemma Visualizer</h1>
</div>

<div class="container">
  <div class="grid-item">
    <!-- <ul *ngFor="let manuscript of manuscripts">
      <li (click)="onSelect()">{{manuscript.name}}</li>
    </ul> -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Manuscripts</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          (click)="onTableSelect(row)"
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
   </div>

   <div class="grid-item">
     <google-map
      height="400px"
      width="600px"
      [zoom]="zoom"
      [center]="center"
      [options]="options">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        [icon]="marker.icon"
        (mapClick)="onNodeSelect(marker)">
      </map-marker>
      <map-polyline
        *ngFor="let polyline of polylines"
        [path]="polyline.path"
        [options]="polyline.options">
      </map-polyline>
    </google-map>
   </div>

   <div class="grid-item">
     <div class="info">
      <div>{{ manuscript_name }}</div>
      <div>{{ manuscript_info }}</div>
     </div>
    </div>

   <div class="grid-item">
     <div>Semma</div>
    <ngx-graph
      class="chart-container"
      layout="dagre"
      [draggingEnabled]="graphDragging"
      [panningEnabled]="graphPanning"
      [enableZoom]="graphZoom"
      [view]="[600, 400]"
      [showMiniMap]="false"
      [links]="graphLinks"
      [nodes]="graphNodes"
      [center$]="center$"
      [zoomToFit$]="zoomToFit$"
      [update$]="update$">
    </ngx-graph>
   </div>
</div>
