<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <mat-toolbar class="nav navbar-nav" routerLinkActive="active">
          <a mat-button class="nav-link" routerLink="home">Home</a>
          <a mat-button class="nav-link" routerLink="map">Map</a>
          <a mat-button class="nav-link" routerLink="stemma">Stemma</a>
          <a mat-button class="nav-link" routerLink="about">About</a>
          <div class="spacer"></div>
          <a href="https://www.buymeacoffee.com/cliff42" target="_blank">
            <img
            src="https://cdn.buymeacoffee.com/buttons/v2/default-green.png"
            alt="Buy Me A Coffee"
            style="height: 40px !important; width: 135px !important" >
          </a>
      </mat-toolbar>
  </div>
</nav>

<router-outlet></router-outlet>

